$danger-color:#1abc9c;
$white-color:#fff;

.home{
    height: 100vh;
    color: $white-color;
    text-align: center;
    background-color: $danger-color;
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        h1{
            font-size: 4rem;
        }
        span{
            position: relative;
            font-size: 2rem;
            &::before{
                content: "";
                background-color: $white-color;
                width: 120px;
                height: 4.5px;
                position: absolute;
                right: 50px;
                bottom: 22px;
                border-radius: 20px;
            }
            &::after{
                content: "";
                background-color: $white-color;
                position: absolute;
                border-radius: 20px;
                height: 4.5px;
                width: 120px;
                bottom:22px;
                left: 50px;
            }
        }
        p{
            font-size: 1.7rem;
        }
    }
}